<header>
    <h1>IICT Student Hub</h1>
    <nav>
        <ul>
            <li><a routerLink="/students">Student Details</a></li>
            <li><a routerLink="/student_registation">Register Student</a></li>
            <li><a routerLink="/course_list">Course List</a></li>
            <li><a routerLink="/create-course">Create Course</a></li>
            <li><a routerLink="/create-course-module">Create Course Module</a></li>
            
        </ul>
    </nav>
</header>


<main class="main">
    <section id="student-result-inquiry">
        <h2>Student Result Inquiry</h2>
        <form id="resultInquiryForm" onsubmit="return inquireStudentResult()">
            <div class="form-group">
                <label for="studentId">Student ID:</label>
                <input type="text" id="studentId" name="studentId" required>
            </div>
            <button type="submit">Inquire</button>
        </form>
    </section>

    <section id="resultTable">
        <!-- Student result table will be displayed here -->
    </section>

    <section id="downloadButton">
        <!-- Download button for Excel report will be displayed here -->
    </section>
</main>


<footer>
    <p>&copy; 2024 IITC Student Management System.</p>
</footer>

