<header>
    <h1>IICT Student Hub</h1>
</header>

<main>
<section class="dashboard-cards">
    <div class="card">
        <a routerLink="/students">
            <h2>Student Details</h2>
        </a>
    </div>
    <div class="card">
        <a routerLink="/student-edit">
            <h2>Edit Student Data</h2>
        </a>
    </div>
    <div class="card">
        <a routerLink="/student_registation">
            <h2>Register Student</h2>
        </a>

    </div>
    <div class="card">
        <a routerLink="/course_list">
            <h2>Course List</h2>
        </a>

    </div>
    <div class="card">
        <a routerLink="/create-course">
            <h2>Create new Course</h2>
        </a>

    </div>
    <div class="card">
        <a routerLink="/create-course-module">
            <h2>Create Course Module</h2>
        </a>

    </div>
</section>
</main>

<footer>
    <p>&copy; 2024 IITC Student Management System.</p>
</footer>