<header>
    <h1>IICT Student Hub</h1>
    <nav>
        <ul>
            <li><a routerLink="/adminDashboard">Dashboard</a></li>
            <li><a routerLink="/students">Student Details</a></li>
            <li><a routerLink="/student-edit">Edit Student Data</a></li>
            <li><a routerLink="/student_registation">Register Student</a></li>
            <li><a routerLink="/course_list">Course List</a></li>
            <li><a routerLink="/create-course">Create Course</a></li>
            <li><a routerLink="/create-course-module">Create Course Module</a></li>
        </ul>
    </nav>
</header>
<section>
    <h2>Create New Course Module</h2>
    <form [formGroup]="moduleForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="course">Select Course:</label>
        <select formControlName="course" id="course">
          <option *ngFor="let course of courses" [ngValue]="course">{{ course.CourseName }}</option>
        </select>
      </div>
      <div>
        <label for="moduleName">Module Name:</label>
        <input type="text" id="moduleName" formControlName="moduleName">
      </div>
      <button type="submit" [disabled]="moduleForm.invalid">Add Module</button>
    </form>
  </section>
  