<header>
    <h1>IICT Student Hub</h1>
    <nav>
        <ul>
            <li><a routerLink="/adminDashboard">Dashboard</a></li>
            <li><a routerLink="/students">Student Details</a></li>
            <li><a routerLink="/student-edit">Edit Student Data</a></li>
            <li><a routerLink="/student_registation">Register Student</a></li>
            <li><a routerLink="/course_list">Course List</a></li>
            <li><a routerLink="/create-course">Create Course</a></li>
            <li><a routerLink="/create-course-module">Create Course Module</a></li>
        </ul>
    </nav>
</header>

<main class="main">
    <section id="student-registration">
        <h2>Student Registration</h2>
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="FullName">Full Name:</label>
                <input type="text" id="FullName" formControlName="FullName" required>
            </div>
            <div class="form-group">
                <label for="NameWithInitials">Name with Initials:</label>
                <input type="text" id="NameWithInitials" formControlName="NameWithInitials" required>
            </div>
            <div class="form-group">
                <label for="Address">Address:</label>
                <textarea id="Address" formControlName="Address" required></textarea>
            </div>
            <div class="form-group">
                <label for="Mobile">Mobile Number:</label>
                <input type="tel" id="Mobile" formControlName="Mobile" required>
            </div>
            <div class="form-group">
                <label for="MISNumber">MIS Number:</label>
                <input type="text" id="MISNumber" formControlName="MISNumber" required>
            </div>
            <div class="form-group">
                <label for="NIC">NIC:</label>
                <input type="text" id="NIC" formControlName="NIC" required>
            </div>
            <div class="form-group">
                <label for="Gender">Gender:</label>
                <select id="Gender" formControlName="Gender" required>
                    <option value=""></option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            <!-- Hidden field for DateEntered will be populated automatically -->
            <input type="hidden" formControlName="DateEntered">
            <br>
            <button type="submit" [disabled]="!registrationForm.valid">Register</button>
        </form>
    </section>
</main>

