<div class="chosen-page">
  <div class="content">
    <div class="welcomeNote">
      <b>IITC Student Management System</b>
    </div>
    <div class="studentNote">
      <b>Enter your Admin email and password</b>
    </div>
    <form id="adminLoginForm" (submit)="validateAdminLogin($event)">
      <!-- Email input -->
      <div class="form-outline mb-4">
        <input type="email" id="form2Example1" class="form-control" required />
        <label class="form-label" for="form2Example1">Email</label>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <input type="password" id="form2Example2" class="form-control" required />
        <label class="form-label" for="form2Example2">Password</label>
      </div>

      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block mb-5">Sign in</button>
    </form>
  </div>
  <p>[ hard coded email: admin&#64;example.com , password: password123  ]</p>

</div>


<script>
  function validateAdminLogin(event) {
    event.preventDefault(); 

    const email = document.getElementById('form2Example1').value;
    const password = document.getElementById('form2Example2').value;

    // Sample email and password
    const validEmail = "admin@example.com";
    const validPassword = "password123";

    if (email === validEmail && password === validPassword) {
      alert("Login successful!");
      
      window.location.href = '/adminDashboard';
    } else {
      alert("Invalid email or password. Please try again.");
    }
  }
</script>
